
.navbar-list li {
    position: relative;
    padding: 0;
}

    .navbar-list li a::after {
        content: "";
        height: 2px;
        width: 100%;
        background: #ff00d1;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.15s ease;
    }

    .navbar-list li a:hover::after {
        transform-origin: bottom left;
        transform: scaleX(1);
    }


.sesion:hover {
    color: #ff00d1;
}

.footer-1i a:hover {
    color: #ff00d1;
}

.footer-2 a:hover {
    border-right: 1px solid #ff00d1;
}

.footer-3 a h4:hover {
    border-right: 1px solid #ff00d1;
}
