@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.container-img-register {
    background-image: url(/css/Img/perro.jpg);
    height: 100vh;
    width: 45%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-formulario {
    width: 55%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ingreso-correo {
    padding: 10px 0px 0px 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

    .ingreso-correo h1 {
        font-weight: 700;
        color: white;
    }

.icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    width: 200px;
    height: 100px;
}

    .icons a {
        background-color: #111111;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        height: 40px;
        width: 40px;
        text-align: center;
        text-decoration: none;
    }

    .icons i {
        font-size: 18px;
        color: white;
    }

    .icons a:hover {
        background-color: #ff00d1;
        transform: translate(0px, -5px);
        transition: all 0.5s ease;
    }

.responsive {
    display: none;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

    .formulario form {
        width: 80%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    .formulario label {
        font-weight: 600;
        font-size: 20px;
        margin: 10px 0;
        color: white;
    }

    .formulario input {
        width: 300px;
        height: 40px;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: #f2f2f2;
    }

.btn {
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    background-color: #111111;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    margin-top: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

    .btn:hover {
        background-color: #ff00d1;
        transition: all 0.3s linear;
        color: white;
    }

.formulario p {
    font-weight: 200;
    font-size: 17px;
    padding: 9px;
    color: white;
}

.formulario a {
    text-decoration: none;
    color: #8fa3b0;
}

.signIn:hover {
    color: #ff00d1;
    transition: all 0.3s linear;
}

@media (max-width: 992px) {
    .container-img-register {
        display: none;
    }

    .container-formulario {
        width: 100%;
        height: auto;
    }

    .ingreso-correo h1 {
        text-align: center;
        padding: 10px;
    }

    .icons {
        justify-content: center;
    }

    .ingreso-correo {
        margin-bottom: 0px;
        padding: 20px 0px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .formulario {
        height: auto;
        margin-bottom: 50px;
    }

        .formulario form {
            align-items: center;
        }

    .responsive {
        background-image: url(../assets/img/stickerPanda.png);
        height: 200px;
        width: 200px;
        margin-top: 30px;
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
    }

    .btn {
        margin-top: 30px;
    }
}
